@import "../vars";

:root{
    --contact-background-color:var(--venice-blue);

    --contact-title-font-color:#fff;

    --contact-content-font-size:1.875em;
    --contact-content-font-color:var(--charlotte);
}

.section-contact{
    box-sizing:border-box;
    font-size:1rem;
    padding:0 var(--small-spacing) var(--small-spacing)!important;
    margin-bottom:0;
}

    .section-contact-inner{
        max-width:750px;
        background:var(--contact-background-color);
        border-radius:var(--border-radius);
        margin-left:auto;
        margin-right:auto;
        padding:var(--small-spacing);
    }

        .section-contact .section-title{
            color:var(--contact-title-font-color);
            margin:0 0 var(--small-spacing);
        }

        .section-contact .section-content a{
            font-size:var(--contact-content-font-size);
            color:var(--contact-content-font-color);
        }

        .app-downloads{
            margin:var(--small-spacing) auto 0;
            text-align:center;
        }

            .app-download-link{
                margin:0 0px;
                display:inline-block;
                height:50px;
                text-indent:-999em;
                overflow:hidden;
                background-repeat:no-repeat;
                background-position:0 0;

                &.app-download-link-itunes{
                    width:169px;
                    background-size:169px 50px;
                    background-image:url(/images/applestore.svg);
                }

                &.app-download-link-play{
                    width:190px;
                    background-size:194px 77px;
                    background-position:-2px -13px;
                    background-image:url(/images/googleplay.png);
                }
            }
