@import "../vars";

:root{}

.section-partners{
    max-width:850px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

    .section-partners .section-title{
        text-align:center;
    }

    .partners-list{
        margin:0 auto;
        padding:0;
        list-style:none;
    }

        .partners-list-item{
            display:inline-block;
            text-align:center;
            margin-bottom:var(--small-spacing);
            width:100%;

            @media screen and (min-width:480px) {
                display:inline-block;
                vertical-align:middle;
                width:49%;
            }

            @media screen and (min-width:768px) {
                width:24%;
                margin:0;
            }
        }

            .partners-link{
                display:inline-block;
                text-indent:-999em;
                overflow:hidden;
                background-repeat:no-repeat;
                background-position:0 0;

                &.partners-link-mollys{
                    background-size:100%;
                    background-image:url(/images/mollymalones.png);
                    height:88px;
                    width:88px;
                }

                &.partners-link-exchange{
                    background-size:100%;
                    background-image:url(/images/exchange.jpg);
                    height:40px;
                    width:200px;
                }

                &.partners-link-bq{
                    background-size:100%;
                    background-image:url(/images/bqbar.png);
                    height:83px;
                    width:83px;
                }

                &.partners-link-bullandbear{
                    background-size:100%;
                    background-image:url(/images/bullandbear.png);
                    height:44px;
                    width:146px;
                }
            }
