@import "vars";

html,
body{
    padding:0;
    margin:0;
}

body{
    font-family:Calibri, Arial, sans-serif;
    font-size:var(--root-font-size);
    color:var(--body-font-color);
    background-repeat:repeat;
    background-position:0 0;
    background-size:;
}

a{
    color:var(--body-font-color);
    text-decoration:none;

    &:hover{
        text-decoration:underline;
    }
}

.clearfix:before,
.clearfix:after{
    display:table;
    content:' ';
}
.clearfix:after{
    clear:both;
}